.rock-shrimp{
    .header-options{
        column-count: 4;
        column-gap: 3rem;
        float: left;
        margin: 5px 0 15px 0;
        width:100%;
        display: flex;
        column-rule-style: 1px solid #424242;
         p{

         }
    }
}