.rock-shrimp{
     width: 100%;
    .header-options{
        float: left;
        display: flex;
        column-rule-style: 1px solid #424242;
        width: 30rem;
        margin-left: 110rem;
        margin-top: -10.5rem;
        justify-content: space-between;
        z-index: 2;
        color: white;
        font-size: 1.3rem;
            p{
            border-right: 1px solid white;
            padding-right: 1rem;
          
            }
    }

    .imgback{
        img{
            width: 100%;
           height: 70rem;
         filter: brightness(90%);
        }
    }

    .title{
        position: absolute;
        margin-left: 70rem;
        margin-top: -11rem;

        h1{
            font-family: Lato, Helvetica, Arial, sans-serif;
            text-transform: none;
            font-weight: 600;
            letter-spacing: 0px;
            font-size: 36px;
            color: #fff;
            line-height: 1em;
        }

        p{
            color: #fff;
            font-size: 12px;
            letter-spacing: 2px;
            margin-left: 20rem;
            font-weight: bold;
            .linked{
                text-decoration: none;
                color: #fff;
                font-size: 12px;
                letter-spacing: 2px;
                Link{

                }
            }
        }
        
    }

    .rockshrimp-blog{
        margin-left: 30rem;
        margin-top: 5rem;
        line-height: 1;
        width: 97rem;
        height: 130rem;
        border-bottom: 1px solid #e1e1e1;
        .content{
            color: #333;
            letter-spacing: 0px;
            font-size: 14px;
            p{

            }
            .content-2{
                 margin-top: 3rem;
                p{

                }
            }
        }

        .content-img{
            margin-top: 5rem;
             img{

             }
            }
            .img-detail{
                margin-top: 4rem;
                line-height: 1;
                p{
                    color: #333;
                    letter-spacing: 0px;
                    font-size: 14px;
                   
                 }
            }
        
        .blockquote{
            
            blockquote{
                color: #000000;
               font-size: 20px;
               line-height: 1.8;
               font-family: Lato, Helvetica, Arial, sans-serif;
               font-weight: 600;
               margin-left: 0rem;
            }
            p{
                color: #333;
                letter-spacing: 0px;
                font-size: 14px;
            }
        }
        .tag{
             margin-top: 4rem;
            a{
                
                    // font-size: 1.4rem;
                     display: inline-block;
                     border: 2px solid #cfa670 !important;
                     font-size: 12px !important;
                     letter-spacing: 0px;
                     text-transform: lowercase;
                  //   padding: 2px 7px 2px 7px;
                  padding: 5px 10px 5px 10px;
                     margin: 0 1px 4px 0;
                    color: #222222;
                    text-decoration: none;
                    transition: 0.3s ease-in-out;    
     
                    &:hover {
                     cursor: pointer;
                     color: #cfa670;
     
                     & a{
                      opacity: 1;
                      transform: scale(1.1);
                      transition: 0.3s ease-in-out;    
                     }
                    }
            }
        }

        .also-like{
            margin-top: 8rem;
           
            h5{
                color: #222222;
                letter-spacing: 2px;
                font-family: Lato, Helvetica, Arial, sans-serif;
                font-size: 12px;
                font-weight: 900;
            }
            .like-1{
                float: left;
                //  width: 49.4%;
                width: 48.5%;
                margin-right: 1.2%;
                margin-bottom: 1.2%;
                padding: 20px;
                box-sizing: border-box;
                border: 1px solid #e1e1e1;
                display: table;
                text-align: left;
                background: #fff;
                color: #333;
                img{
                    float: left;
                    margin: 0 10px 2px 0;
                    width: 52px;
                    height: auto !important;
                }
                a{
                    color: #000000;
                    text-align: left;
                    font-size: 1.5rem;
                    transition: 0.3s ease-in-out;    
                    text-decoration: none;
                    &:hover {
                        cursor: pointer;
                        color: #cfa670;
        
                        & a{
                         opacity: 1;
                         transform: scale(1.1);
                         transition: 0.3s ease-in-out;    
                        }
                       }
                }
                p{
                    font-size: 10px;
                    font-weight: 400;
                    float: none;
                    color: #424242;
                    letter-spacing: 2px;

                }
            }
            .like-2{
                float: left;
              //  width: 49.4%;\
              width: 48.5%;
                margin-right: 1.2%;
                margin-bottom: 1.2%;
                padding: 20px;
                box-sizing: border-box;
                border: 1px solid #e1e1e1;
                display: table;
                text-align: left;
                background: #fff;
                color: #333;
                img{
                    float: left;
                    margin: 0 10px 2px 0;
                    width: 52px;
                    height: auto !important;
                }
                a{
                    color: #000000;
                    text-align: left;
                    font-size: 1.5rem;
                    transition: 0.3s ease-in-out;    
                    text-decoration: none;
                    &:hover {
                        cursor: pointer;
                        color: #cfa670;
        
                        & a{
                         opacity: 1;
                         transform: scale(1.1);
                         transition: 0.3s ease-in-out;    
                        }
                       }
                }
                p{
                    font-size: 10px;
                    font-weight: 400;
                    float: none;
                    color: #424242;
                    letter-spacing: 2px;

                }
            }

            .like-3{
                float: left;
              //  width: 49.4%;\
                width: 48.5%;
                margin-right: 1.2%;
                margin-bottom: 1.2%;
                padding: 20px;
                box-sizing: border-box;
                border: 1px solid #e1e1e1;
                display: table;
                text-align: left;
                background: #fff;
                color: #333;
                img{
                    float: left;
                    margin: 0 10px 2px 0;
                    width: 52px;
                    height: auto !important;
                }
                a{
                    color: #000000;
                    text-align: left;
                    font-size: 1.5rem;
                    transition: 0.3s ease-in-out;    
                    text-decoration: none;
                    &:hover {
                        cursor: pointer;
                        color: #cfa670;
        
                        & a{
                         opacity: 1;
                         transform: scale(1.1);
                         transition: 0.3s ease-in-out;    
                        }
                       }
                }
                p{
                    font-size: 10px;
                    font-weight: 400;
                    float: none;
                    color: #424242;
                    letter-spacing: 2px;

                }
            }
           
            .like-4{
                float: left;
               //  width: 49.4%;\
                width: 48.5%;
                margin-right: 1.2%;
                margin-bottom: 1.2%;
                padding: 20px;
                box-sizing: border-box;
                border: 1px solid #e1e1e1;
                display: table;
                text-align: left;
                background: #fff;
                color: #333;
                img{
                    float: left;
                    margin: 0 10px 2px 0;
                    width: 52px;
                    height: auto !important;
                }
                a{
                    color: #000000;
                    text-align: left;
                    font-size: 1.5rem;
                    transition: 0.3s ease-in-out;    
                    text-decoration: none;
                    &:hover {
                        cursor: pointer;
                        color: #cfa670;
        
                        & a{
                         opacity: 1;
                         transform: scale(1.1);
                         transition: 0.3s ease-in-out;    
                        }
                       }
                }
                p{
                    font-size: 10px;
                    font-weight: 400;
                    float: none;
                    color: #424242;
                    letter-spacing: 2px;

                }
            }
        }


        .about-author{
            float: left;
            border-top: 1px solid #e1e1e1;
            width: 97rem;
            padding-top: 40px;
            margin-top: 3rem;
            border-bottom: 1px solid #e1e1e1;
            padding-bottom: 40px;
          
            h3{
                color: #222222;
                font-family: Lato, Helvetica, Arial, sans-serif;
                font-size: 12px;
                font-weight: 900;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
            img{
                float: left;
                margin: auto;
                margin-right: 20px;
                border-radius: 100px;
                overflow: hidden;
                position: relative;
                z-index: 2;
                width: 80px;
                height: 80px; 
            }
            .author-detail{
                width: calc(100% - 100px);
                float: left;
               
               // color: #333;
                letter-spacing: 0px;

                h5{
                    margin-bottom: 10px;
                    text-transform: none;
                    color: #000000;
                    font-size: 18px;
                    font-weight: 400;
                    letter-spacing: 0px;
                }
                p{
                    color: #333;
                    font-size: 14px;
                }
            }
        }

        .leave-a-reply{
             float: left;
            h3{
                color: #222222;
                font-family: Lato, Helvetica, Arial, sans-serif;
                font-size: 12px;
                font-weight: 900;
               letter-spacing: 2px;
            }
            p{
                padding-left: 24px;
                box-sizing: border-box;
                padding-top: 0.5em;
               padding-bottom: 0.5em;
               margin-bottom: 20px;

            }
            textarea{
    box-sizing: border-box;
    background-color: #ffffff;
    color: #444444;
    border-color: #e1e1e1;
    margin-bottom: 15px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 100%;
    border: 1px solid #e1e1e1;
    background: #fff;
    margin: 0;
    height: 200px;
    overflow: auto;
    padding: 13px 10px 13px 10px;

            }
            .author{
                margin-bottom: 15px;
                background-color: #ffffff;
    color: #444444;
    border-color: #e1e1e1;
    font-family: Lato, Helvetica, Arial, sans-serif;

            }
            .email{
               
            }
            .website{

            }
            .checkbox{

            }
            .submit{

            }
        }
    }
    .newssidebar{
        
    }
}
