.homemenu-item {
  min-width: 30%;
  height: 600px;
  display: grid;
  align-items: center;
  justify-content: center;
 
  &:hover {
    cursor: pointer;

    
    //  & .bg-image {
    //   opacity: 0.3;
    //  }
    
    & .hover-button{
      opacity: 1;
      transform: scale(1.1);
    // transform: translateY(10%);

      transition: .60s;
    }
  }
  

   &.large {
    height: 380px;
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }


    .bg-image{
        padding: 0%;
        margin-top: -10rem;
        width: 100%;
        height: 50rem;
        background-size: cover;
        background-position: center;
    }
    
    .content {
   
        .name-price{
           margin-top: -9rem;
           display: flex;
           margin-left: -1.5rem;
          
            .name{
               font-size: 14px;
            }
            .price{
               margin-left: 20rem;
               font-size: 15px;
              
            }
        }
        .ingre-button{
          margin-top: 0rem;
       //   background-color: cadetblue;
          display: flex;
          margin-left: -1.5rem;
           
            .ingredient{
                color: #424242;
                font-size: 12px;
            
            }
            .button{
                 margin-left: 25rem;
                 
               
                .order{
                    padding: 0.5rem;
                    background-color: #cfa670;
                    font-size: 1rem;
                    color: white;
                    border: none;
                    align-items: flex-start;
                    text-align: start;
                    width: 5rem;
                   
                 }
                .star{
                    width: 2rem;
                    height: 20px;
                    margin-left: 1rem;
                    padding-top: 0.5rem;
                    background-color: #cfa670;
                    font-size: 1.5rem;
                    color: white;
                    border: none;
                    align-items: center;
                    text-align: center;
                   float: right;
                }
            }
        }
    }
    .hover-button {
      position: absolute;
      cursor: pointer;
      opacity: 0;
     display: inline-block;
    //  padding: 1rem;
    

    // margin-top: 5rem;
   //@at-root align-items: center;
    
       .hover-search{
        color: #fff;
        text-align: center;
        background: rgba(0,0,0,0.7);
        border-radius: 100px;
        text-align: center;
        font-weight: 200;
        width: 3rem;
        height: 3rem;
        font-size: 0.5rem;
        line-height: 2rem;
        padding: 1rem;
        margin-left: 17rem;
       margin-bottom: 16rem;
       }
       .hover-cart{
        color: #fff;
        text-align: center;
        background: rgba(0,0,0,0.7);
        border-radius: 100px;
        text-align: center;
        font-weight: 200;
        width: 3rem;
        height: 3rem;
        font-size: 0.5rem;
        padding: 1rem;
        line-height: 2rem;
        margin-left: 2rem;
        margin-bottom: 16rem;
       }
    }
}