.menuimg {
    
    height: 30rem;
    img{
        width: 100rem;
        height: 30rem;
        filter: brightness(90%);
      } 
    h1{
        position: absolute;
        top: 75rem;
        text-align: center;
        left: 26rem;
        font-size: 3rem;
        font-family: 'Montserrat',sans-serif;  
       

    }

   
}