.news-drop{
    width:20rem;
    border:1px solid black;
    background-color: black;
    margin-top: -43rem;
    margin-left: 140rem;
    position: absolute;
    z-index: 1200;

    a{
        color: #fff;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
}