body.active-modal {
    overflow-y: hidden;
}



.modal{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 20;
   


.overlay {
    width: 100vw;
    height: 150vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 4;
    // background: rgba(8, 8, 8, 0.8);
   background: rgba(0, 0, 0, 0.863);
}




.modal-content {
    border:1px solid #fff;
    background: transparent;
    position: absolute;
    box-sizing: border-box;
    width: 80rem;
    z-index: 5;
    text-align: center;
    padding: 30px;
    vertical-align: baseline;
    line-height: 3rem;
    font-size: 1.5rem;
    column-gap: 4rem;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;

    .close-button{
        float: right;
    }

    .table-booking{
        font-weight: normal;
        h2{
           color: #cfa670;
           font-family:Kristi, cursive;
           font-size: 4rem;
        }
        line-height: 1.5rem;
        h1{
            font-family: Lato, Helvetica;
          
        
        }
    }

    .datails {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 8rem;
     
        .part_1{
             .name_details{
               text-align: start;
               display: grid;
             
              label{
            
            }
           line-height: 7rem;
              }
             
              .required_field{
                background: transparent;
                border:none;
                border-bottom: 1px solid #fff;
                outline: none;
                color: #fff;
                width:20rem;
            }
            
            .date_details {
              display: grid;
              text-align: start;
              line-height: 7rem;
              
              .birthday{
                background: transparent;
                border:none;
                border-bottom: 1px solid #fff;
                outline: none;
                color: #fff;
                width:20rem;
              }
            }
        }
        

        .part_2 {
             .email_details{
                display: grid;
                text-align: start;
                line-height: 7rem;
            }
            .required_field{
                background: transparent;
                border:none;
                border-bottom: 1px solid #fff;
                outline: none;
                color: #fff;
                width:20rem;
            }
          
            .time_details{
                display: grid;
                text-align: start;
               line-height: 6rem;
            }
        }

        .part_3 {
             .phone_details {
                display: grid;
                text-align: start;
                line-height: 7rem;
            }
            .required_field{
                background: transparent;
                border:none;
                border-bottom: 1px solid #fff;
                outline: none;
                color: #fff;
                width:20rem;
            }

             .seats_details{
                display: grid;
                text-align: start;
                line-height: 9rem;
            }
        }
    }
      
        .special-requests{
            display: grid;
            text-align: start;
            padding: 6rem  0rem;
            line-height: 7rem;

          .textmsg{
            background: transparent;
            border:none;
            border-bottom: 1px solid #fff;
            outline: none;
            color: #fff;
            width:70rem;
          }
        }
    

    .booknow{
      
       button{
           justify-content: center;
            background-color: #cfa670;
            padding: 0.8em 1.7em 0.6em 1.7em;
            text-decoration: none;
            font-size: 11px;
            font-weight: 600;
            letter-spacing: 2px;
       }
    }
}
}