.reservation-drop {
    border:1px solid #fff;
    background-color: #222222;
    //position: relative;
    position: absolute;
    box-sizing: border-box;
    width: 80rem;
   //height: 100%;
    margin-top: -40rem;
    margin-left: 60rem;
    z-index: 2;
   // margin: auto;
    overflow: scroll;
    text-align: center;
    padding: 30px;
    vertical-align: baseline;
    line-height: 3rem;
    font-size: 1.5rem;
    column-gap: 4rem;
    color: #fff;
    // display: none;
    // position: fixed;
    // cursor: pointer;
    .close-button{
        float: right;
    }

    .table-booking{
        font-weight: normal;
        h2{
           color: #cfa670;
           font-family:Kristi, cursive;
           font-size: 4rem;
        }
        line-height: 1.5rem;
        h1{
            font-family: Lato, Helvetica;
          
        
        }
    }

    .datails {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 8rem;
       // display: table-column;
       
        .part_1{
             .name_details{
               text-align: start;
               display: grid;
              // line-height: 7rem;
              label{
              
                
            }
           line-height: 7rem;
              }
             
              input{
                
            }
            
            .date_details {
              display: grid;
              text-align: start;
              line-height: 7rem;
            }
        }
        

        .part_2 {
             .email_details{
                display: grid;
                text-align: start;
                line-height: 7rem;
            }
          
            .time_details{
                display: grid;
                text-align: start;
               line-height: 6rem;
            
            }
        }

        .part_3 {
             .phone_details {
                display: grid;
                text-align: start;
                line-height: 7rem;
            
            }
             .seats_details{
                display: grid;
                text-align: start;
                line-height: 9rem;
            }
        }
    }
      
        .special-requests{
            display: grid;
            text-align: start;
            padding: 6rem  0rem;
            line-height: 7rem;
        }
    

    .booknow{
      
       button{
           justify-content: center;
            background-color: #cfa670;
            padding: 0.8em 1.7em 0.6em 1.7em;
            text-decoration: none;
            font-size: 11px;
            font-weight: 600;
            letter-spacing: 2px;
       }
    }
}