.news-blog {
    .blog-1{
        margin-bottom: 40px;
        float: left;
        position: relative;
        border-bottom: 1px solid #e1e1e1;
        width: 85rem;
        margin-left: 30rem;
        h1{
            color: #000000;
            font-weight: 600;
            font-family: Lato, Helvetica, Arial, sans-serif;
            font-size: 26px;
            margin-block-start: 1.67em;
        }
        .bolg-1-detail {
             column-count: 4;
             column-gap: 3rem;
             float: left;
             margin: 5px 0 15px 0;
             width:100%;
            display: flex;
    
            span{
                color: #424242;
                font-size: 11px;
                letter-spacing: 2px;
                padding-right: 0.5rem;
                border-right: 1px solid #424242;
                border-spacing: 2rem;
                font-weight: bold;
            }
        }
        img{
            position: relative;
            height: 35rem;
            text-align: center;
            overflow: hidden;
            float: left;
            line-height: 0;
            width: 85rem;
            margin-bottom: 20px; 
        }
        p{
            margin-top: 37rem;
            color: #333;
            padding-left: 0.4rem;
            width: 70rem;
           // font-weight: bold;
            font-size: 1rem; 
           // background-color: antiquewhite;        
        }
        p{
            margin-top: 1rem;
            color: #333;
        } 
        
    }

    .blog-2{
        margin-bottom: 40px;
        float: left;
        position: relative;
        border-bottom: 1px solid #e1e1e1;
        width: 85rem;
        margin-left: 30rem;
        h1{
            color: #000000;
            font-weight: 600;
            font-family: Lato, Helvetica, Arial, sans-serif;
            font-size: 26px;
            margin-block-start: 1.67em;
        }
        .bolg-2-detail {
             column-count: 4;
             column-gap: 3rem;
             float: left;
             margin: 5px 0 15px 0;
             width:100%;
            display: flex;
    
            span{
                color: #424242;
                font-size: 11px;
                letter-spacing: 2px;
                padding-right: 0.5rem;
                border-right: 1px solid #424242;
                border-spacing: 2rem;
                font-weight: bold;
            }
        }
        img{
            position: relative;
            height: 35rem;
            text-align: center;
            overflow: hidden;
            float: left;
            line-height: 0;
            width: 85rem;
            margin-bottom: 20px; 
        }
        p{
            margin-top: 37rem;
            color: #333;
            padding-left: 0.4rem;
            width: 70rem;
         
        }
        p{
            margin-top: 1rem;
            color: #333;
        } 
        
    }

    .blog-3{
        margin-bottom: 40px;
        float: left;
        position: relative;
        border-bottom: 1px solid #e1e1e1;
        width: 85rem;
        margin-left: 30rem;
        h1{
            color: #000000;
            font-weight: 600;
            font-family: Lato, Helvetica, Arial, sans-serif;
            font-size: 26px;
            margin-block-start: 1.67em;
        }
        .bolg-3-detail {
             column-count: 4;
             column-gap: 3rem;
             float: left;
             margin: 5px 0 15px 0;
             width:100%;
            display: flex;
    
            span{
                color: #424242;
                font-size: 11px;
                letter-spacing: 2px;
                padding-right: 0.5rem;
                border-right: 1px solid #424242;
                border-spacing: 2rem;
                font-weight: bold;
            }
        }
        img{
            position: relative;
            height: 35rem;
            text-align: center;
            overflow: hidden;
            float: left;
            line-height: 0;
            width: 85rem;
            margin-bottom: 20px; 
        }
        p{
            margin-top: 37rem;
            color: #333;
            padding-left: 0.4rem;
            width: 70rem;
         
        }
        p{
            margin-top: 1rem;
            color: #333;
        } 
    }

    .blog-4{
        margin-bottom: 40px;
        float: left;
        position: relative;
        border-bottom: 1px solid #e1e1e1;
        width: 85rem;
        margin-left: 30rem;
        h1{
            color: #000000;
            font-weight: 600;
            font-family: Lato, Helvetica, Arial, sans-serif;
            font-size: 26px;
            margin-block-start: 1.67em;
        }
        .bolg-4-detail {
             column-count: 4;
             column-gap: 3rem;
             float: left;
             margin: 5px 0 15px 0;
             width:100%;
            display: flex;
    
            span{
                color: #424242;
                font-size: 11px;
                letter-spacing: 2px;
                padding-right: 0.5rem;
                border-right: 1px solid #424242;
                border-spacing: 2rem;
                font-weight: bold;
            }
        }
        img{
            position: relative;
            height: 35rem;
            text-align: center;
            overflow: hidden;
            float: left;
            line-height: 0;
            width: 85rem;
            margin-bottom: 20px; 
        }
        p{
            margin-top: 37rem;
            color: #333;
            padding-left: 0.4rem;
            width: 70rem;
         
        }
        p{
            margin-top: 1rem;
            color: #333;
        } 
    }

    .blog-5{
        margin-bottom: 40px;
        float: left;
        position: relative;
        border-bottom: 1px solid #e1e1e1;
        width: 85rem;
        margin-left: 30rem;
        h1{
            color: #000000;
            font-weight: 600;
            font-family: Lato, Helvetica, Arial, sans-serif;
            font-size: 26px;
            margin-block-start: 1.67em;
        }
        .bolg-5-detail {
             column-count: 4;
             column-gap: 3rem;
             float: left;
             margin: 5px 0 15px 0;
             width:100%;
            display: flex;
    
            span{
                color: #424242;
                font-size: 11px;
                letter-spacing: 2px;
                padding-right: 0.5rem;
                border-right: 1px solid #424242;
                border-spacing: 2rem;
                font-weight: bold;
            }
        }
        img{
            position: relative;
            height: 35rem;
            text-align: center;
            overflow: hidden;
            float: left;
            line-height: 0;
            width: 85rem;
            margin-bottom: 20px; 
        }
        p{
            margin-top: 37rem;
            color: #333;
            padding-left: 0.4rem;
            width: 70rem;
         
        }
        p{
            margin-top: 1rem;
            color: #333;
        } 
    }

    .blog-6{
        margin-bottom: 40px;
        float: left;
        position: relative;
        border-bottom: 1px solid #e1e1e1;
        width: 85rem;
        margin-left: 30rem;
        h1{
            color: #000000;
            font-weight: 600;
            font-family: Lato, Helvetica, Arial, sans-serif;
            font-size: 26px;
            margin-block-start: 1.67em;
        }
        .bolg-6-detail {
             column-count: 4;
             column-gap: 3rem;
             float: left;
             margin: 5px 0 15px 0;
             width:100%;
            display: flex;
    
            span{
                color: #424242;
                font-size: 11px;
                letter-spacing: 2px;
                padding-right: 0.5rem;
                border-right: 1px solid #424242;
                border-spacing: 2rem;
                font-weight: bold;
            }
        }
        img{
            position: relative;
            height: 35rem;
            text-align: center;
            overflow: hidden;
            float: left;
            line-height: 0;
            width: 85rem;
            margin-bottom: 20px; 
        }
        p{
            margin-top: 37rem;
            color: #333;
            padding-left: 0.4rem;
            width: 70rem;
         
        }
        p{
            margin-top: 1rem;
            color: #333;
        } 
        
    }
}