.newssidebar {
    .about-us {
        margin-left: 120rem;
        margin-top: 3.5rem;
        h2{
            color: #222222;
            font-family: Lato, Helvetica, Arial, sans-serif;
            font-size: 1.5rem;
            font-weight: 900;
            letter-spacing: 2px;
            margin-bottom: 2rem;
        }
        p{
            color: #222222;
            font-size: 1.3rem;
            line-height: 1;
            margin-top: 1rem;

        }
    }
    .categories_content {
        margin-left: 120rem;
        margin-top: 3.5rem;
      
        
        h2{
            color: #222222;
            font-family: Lato, Helvetica, Arial, sans-serif;
            font-size: 1.5rem;
            font-weight: 900;
            letter-spacing: 2px;
            margin-bottom: 2rem;
        }
        .categories{
            display: grid;
            width: 25rem;
           
          a{
             line-height: 3rem;
             border-bottom: 1px solid #e1e1e1;
             letter-spacing: normal;
             text-decoration: none;
             color: #222222;
             font-size: 1.4rem;
             margin-bottom: 1rem;
             transition: 0.3s ease-in-out;  
             
             &:hover {
                cursor: pointer;
                color: #cfa670;

                & a{
                 opacity: 1;
                 transform: scale(1.2);
                 transition: 0.3s ease-in-out;    
             }
            }
          }
        }
    }

    .tags {
        display: grid;
        margin-left: 120rem;
        margin-top: 3.5rem;
      
        h2{
            color: #222222;
            font-family: Lato, Helvetica, Arial, sans-serif;
            font-size: 1.5rem;
            font-weight: 900;
            letter-spacing: 2px;
            margin-bottom: 2rem;
        }
        .row-1 { 
             

           a{
                color: #222222;
                display: inline-block;
                border: 2px solid #cfa670 !important;
                font-size: 12px !important;
                letter-spacing: 0px;
                text-transform: lowercase;
               // padding: 2px 7px 2px 7px;
               padding: 5px 10px 5px 10px;
                margin: 0 1px 4px 0;
               color: #222222;
               text-decoration: none;
               transition: 0.3s ease-in-out;    

               &:hover {
                   cursor: pointer;
                   color: #cfa670;

                   & a{
                    opacity: 1;
                    transform: scale(1.1);
                    transition: 0.3s ease-in-out;    
                }
               }
            }
        }
        .row-2{
           
            margin-top: 0rem;

            a{
               // font-size: 1.4rem;
                display: inline-block;
                border: 2px solid #cfa670 !important;
                font-size: 12px !important;
                letter-spacing: 0px;
                text-transform: lowercase;
             //   padding: 2px 7px 2px 7px;
             padding: 5px 10px 5px 10px;
                margin: 0 1px 4px 0;
               color: #222222;
               text-decoration: none;
               transition: 0.3s ease-in-out;    

               &:hover {
                cursor: pointer;
                color: #cfa670;

                & a{
                 opacity: 1;
                 transform: scale(1.1);
                 transition: 0.3s ease-in-out;    
             }
            }
            }
        }
    }

    .gallery-on-flicker {
        margin-left: 120rem;
        margin-top: 3.5rem;
       // background-color: darkslategrey;
        h2{
           
            color: #222222;
            font-family: Lato, Helvetica, Arial, sans-serif;
            font-size: 1.5rem;
            font-weight: 900;
            letter-spacing: 2px;
            margin-bottom: 2rem;
        }
        .first-3-img{
            img{
                padding: 0.4rem;
            }
        } 
        .second-3-img{
            img{
                padding: 0.4rem;
            }
        }
        .third-3-img{
            img{
                padding: 0.4rem;
            }
        }
    }
    .pagination-detail {
        margin-top: 261rem;
        margin-left: 107rem;
        h3{
          color: #333333;
        }
    }
    
}