.menu-dropdown {
    width:20rem;
    border:1px solid black;
    background-color: black;
    margin-top: -40rem;
    margin-left: 102rem;
    position: absolute;
    z-index: 1200;
    font-size: 1.5rem;
    a{
        color: #fff;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
}