.homepage{
    

   .contentofwelcome{
    flex-direction: column;
    padding-left: 3rem ;
    padding-top: 5rem;
    display: flex;
    text-align: start;
    line-height:0rem;

    h2{
       color: burlywood;
    
       
    
    }
}

}