.menuimg {
    
    height: 70rem;
    justify-content: space-between;
   // position: fixed;

    img{
        width: 100%;
        height: 70rem;
        filter: brightness(90%);
        justify-content: space-between;
        //position: fixed;
      } 
      h2{
            position: absolute;
            top:141rem;
            //top:162rem;
            text-align: center;
            left:103rem;
            color: burlywood;
            font-family: 'Dancing Script', cursive;
            font-size:4rem;
         }
      
    h1{
        position: absolute;
        top: 146rem;
        //top: 167rem;
        text-align: center;
        left: 100rem;
        font-size: 4rem;
        font-family: 'Montserrat',sans-serif;  
     

    }

  padding:1.5rem;
}
