.header {
    position: absolute;
    top: 0rem;
    left: 0rem;
    height: 7rem;
    width: 60rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    justify-content: right;
    padding: 0;
    margin: 0;
    
.title{
    align-items: flex-start;
    width: 40rem;
    padding: 0;
    margin: 0;
    color: white;
    padding-top: 3rem;
    padding-left: 4rem;
    text-align: left;
    line-height: 0rem;
   h1{
       font-size: 3rem;
   }
   span{
       font-size: 2rem;
   }
   //gap: 2rem;
}
  //gap: 5rem;
.options {
    width: 35rem;
    height: 10rem;
    display: flex;
    align-items: center;
    padding-right: 0rem;
    float: right;
    font-size: 2rem;
    color: white;
    //position: relative;
   // background-color: white;
    .option{
        padding: 1rem 1rem;
        //color: black
    

    }
}
}
