.header {
    
    top: 0rem;
    left: 0rem;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    justify-content: right;
    padding: 0;
    margin: 0;
    position: sticky;
  //  z-index: 1;
    z-index: -2;
    top:0;
    width: 100%;
    align-items: center;
    background-color: #fff;
    width: 100%;
    transform: translateY(0);
    transition: transform 0.6s ease;

.title{
    align-items: flex-start;
    width:100%;
    padding-top: 0rem;
    padding-left: 4rem;
    text-align: left;
    line-height: 0rem;
    color: #111;
   h1{
       font-size: 3rem;
   }
   span{
       font-size: 2rem;
   }
   
}
  
.options {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    padding-right: 0rem;
    float: right;
    font-size: 2rem;
    gap:1.5rem;

    .option{
        text-decoration: none;
        color: #111;
        padding: 1rem 1rem;
        transition: 0.3s ease-in-out;  

        &:hover {
            cursor: pointer;
            color: #cfa670;

        & a{
                 opacity: 1;
                 transform: scale(1.2);
                 transition: 0.3s ease-in-out;    
             }
            }

        
    }
     
     .SideMenuBar {
         
     }
}
}

.header2{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: gray;
    color: black;
    transform: translateY(10);
    transition: transform 6s ease;
    animation: myanimation 3s;
    z-index: 2;
}
@media (max-width:800px) {
      .header {
      width: 80%;
      padding: 0;
    }
    .option {
      width: 100%;
    }
  }