.header {
   // position: absolute;
    top: 0rem;
    left: 0rem;
    //height: 5rem;
    height: 7rem;
    width: 60rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    justify-content: right;
    padding: 0;
    margin: 0;
    position: fixed;
    top:0;
    width: 100%;
    margin-top: 2rem;
    
    // background-color: azure;
.title{
    align-items: flex-start;
    width:100%;
    padding-top: 2rem;
    padding-left: 4rem;
    text-align: left;
    line-height: 0rem;
    color: #fff;
   h1{
       font-size: 3rem;
   }
   span{
       font-size: 2rem;
   }
   
}
  
.options {
    width: 100%;
  
    height: 10rem;
    display: flex;
    align-items: center;
    padding-right: 0rem;
    float: right;
    font-size: 2rem;
    color: #fff;
   
    .option{
        padding: 1rem 1rem;
        //color: black
    

    }
}
}
