.header {
    //position: absolute;
    top: 0rem;
    left: 0rem;
    //height: 5rem;
    height: 7rem;
   // width: 60rem;
   
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    justify-content: right;
    padding: 0;
    margin: 0;
    position: sticky;
    z-index: 1;
    top:0;
    width: 100%;
    margin-top: 3rem;
    align-items: center;
    
     background-color: #fff;
     width: 100%;
     transform: translateY(0);
  transition: transform 0.6s ease;
.title{
    align-items: flex-start;
    width:100%;
    padding-top: 0rem;
    //padding-top: 2rem;
    padding-left: 4rem;
    text-align: left;
    line-height: 0rem;
    color: #111;
   h1{
       font-size: 3rem;
   }
   span{
       font-size: 2rem;
   }
   
}
  
.options {
    width: 100%;
  
    height: 10rem;
    display: flex;
    align-items: center;
    padding-right: 0rem;
    float: right;
    font-size: 2rem;
    color: #111;
   
    .option{
        padding: 1rem 1rem;
        //color: black
    

    }
    // .CustomButton {
    //     border: 2px solid #fff;
    // }
    gap:1.5rem;
     .SideMenuBar {
         
     }
}
}

.header2{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: gray;
    color: black;
    transform: translateY(10);
    transition: transform 6s ease;
    animation: myanimation 3s;
    z-index: 2;
}
@media (max-width:800px) {
      .header {
      width: 80%;
      padding: 0;
    }
    .option {
      width: 100%;
    }
  }