.main-course {
   
    .title {
        text-align: center;
         text-decoration: underline;
         padding-left: 9rem;
h1{
    line-height: 3rem;
    font-family: 'Montserrat',sans-serif;
    font-weight: normal;
    font-size: 3rem;

}
    }
    

    }
    
