.menu-item {
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  overflow: hidden;
  
    
    &:hover {
      cursor: pointer;
  
      
      & .background-image {
       opacity: 0.3;
      }
  
  
      & .content {
        opacity: 1;
        transform: scale(1.1);
        
      }
    }
    &.large {
      height: 380px;
    }
  
    &:first-child {
      margin-right: 7.5px;
    }
  
    &:last-child {
      margin-left: 7.5px;
    }
    
    .background-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
  
  
    .content {
      height: 12rem;
      padding:  1rem;
      display: flex;
      flex-direction: column;
      border: 1px solid black;
      position: absolute;
      cursor: pointer;
      opacity: 0;
      
  
      .name {
        font-weight: bold;
          font-size: 1rem;
          color: black;

      }
  
      .ingredient{
        font-weight: lighter;
          font-size: 1rem;
    }
     .price{
      font-weight: bold;
      font-size: 1rem;
      margin-top: 5rem;

     }
     .button {
      
        .order{
          padding: 0.5rem;
          //background-color: #fc4958;
          background-color: #cfa670;
          font-size: 1rem;
          color: white;
          border: none;
          align-items: flex-start;
          margin-right: 5rem;
          text-align: start;
          width: 5rem;
          
        }
     
       justify-content: space-between;
       //flex-direction: row;
      //  gap: 1rem
    
       .star{
       // background-color: #fc4958;
       background-color: #cfa670;
      // padding: 0.5rem;
       font-size: 1.5rem;
       color: white;
       border: none;
       width: 1rem;
       height: 1.5rem;
       align-items: center;
       text-align: center;
       float: right;
      }
    }
  }
  
}

