.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    padding: 2rem;
    background-color: #333;;
    border-color: #e1e1e1;
    color: white;
    margin: auto;
    float: left; 
    width: 100%;
    //position: fixed;
    .title-logo {
        .title {
            h1{
             font-size: 3rem;
             line-height: 1.2rem;
            }
            h2{
              font-size: 2rem;
              line-height: 1.2rem;
            }
            p{
               font-size: 1.5rem;
               font-weight: normal;
               line-height: 1.2rem;
            }
        }
        
        .logo {
          gap:2rem;
          display: flex;
          font-size: 2rem;
        

          .facebook{
            transition: 0.3s ease-in-out;
            cursor: pointer;
            iFillFacebook{
                transition: 0.3s ease-in-out;
            }
             &:hover{
                 color: #efc337;
                 iFillFacebook{
                     transform: scale(1.2);
                 }
                  }  
            }

          .twitter{
            transition: 0.3s ease-in-out;
            cursor: pointer;
            AiOutlineTwitter{
                transition: 0.3s ease-in-out;
            }
             &:hover{
                 color: #efc337;
                 AiOutlineTwitter{
                     transform: scale(1.2);
                 }
                  }  
          }

          .youtube{
            transition: 0.3s ease-in-out;
            cursor: pointer;
            AiFillYoutube{
                transition: 0.3s ease-in-out;
            }
             &:hover{
                 color: #efc337;
                 AiFillYoutube{
                     transform: scale(1.2);
                 }
                  }  
          }

          .pinterest{
            transition: 0.3s ease-in-out;
            cursor: pointer;
            FaPinterest{
                transition: 0.3s ease-in-out;
            }
             &:hover{
                 color: #efc337;
                 FaPinterest{
                     transform: scale(1.2);
                 }
                  }  
 

          }
          .instagram{
            transition: 0.3s ease-in-out;
            cursor: pointer;
            FaInstagram{
                transition: 0.3s ease-in-out;
            }
             &:hover{
                 color: #efc337;
                 FaInstagram{
                     transform: scale(1.2);
                 }
                  }  
 
          }
        }
    }


    .recentposts {
        .recentpost_title{
        
        }
        .post_1{
           transition: 0.3s ease-in-out;
           cursor: pointer;
           h1{
               transition: 0.3s ease-in-out;
           }
            &:hover{
                color: #efc337;
                h1{
                    transform: scale(1.2);
                }
                 }
            
            }
        
        .date_1{

        }
        .post_2{
            transition: 0.3s ease-in-out;
            cursor: pointer;
            h1{
                transition: 0.3s ease-in-out;
            }
             &:hover{
                 color: #efc337;
                 h1{
                     transform: scale(1.2);
                 }
                  }
        }
        .date_2{

        }
        .post_3{
            transition: 0.3s ease-in-out;
            cursor: pointer;
            h1{
                transition: 0.3s ease-in-out;
            }
             &:hover{
                 color: #efc337;
                 h1{
                     transform: scale(1.2);
                 }
                  }
        }
        .date_3{

        }
    }


    .gallery_on_flickr {
        //background-color: yellowgreen;
       // align-items: center;
        //justify-content: center;
        padding-top: 3rem;
        .first_3_img{
            img{
                width: 7rem;
                height: 7rem;
                padding: 0.4rem;
            }
        }
        .second_3_img{
            img{
                width: 7rem;
               height: 7rem;
               padding: 0.4rem;
            }
        }
    }


    .contact_info { 
           display: flex;
           flex-direction: column;
        .contacttitle{
            h1{

            }
        }
        .address_info{
            display: flex;
            transition: 0s;
           // justify-content: space-between;
            .location{
               height: 2.1rem;
               width: 2.1rem;
               padding-top: 1rem;
            }
            .address{
               padding-left: 1rem;
               font-size: 1.2rem;

            }
        }
        .call_info {
           display: flex;
           transition: 0.3s ease-in-out;
           cursor: pointer;
           .call_info{
               transition: 0.3s ease-in-out;
           }
            &:hover{
                color: #efc337;
                .call_info{
                    transform: scale(1.2);
                }
                 }
          
            .call_icon{
                height: 1.7rem;
                width: 1.7rem;
                padding-top: 1rem;
            }
            .call_number{
                padding-left: 1rem;
                font-size: 1.2rem;

            }
        }
        .email_info {
            display: flex;
            transition: 0.3s ease-in-out;
            cursor: pointer;
            .email_info{
                transition: 0.3s ease-in-out;
            }
             &:hover{
                 color: #efc337;
                 .email_info{
                     transform: scale(1.2);
                 }
                  }

            .email_icon{
                height: 1.7rem;
                width: 1.7rem;
                padding-top: 1rem;
            }
            .email_id{
                padding-left: 1rem;
                font-size: 1.2rem;

            }
        }
        .site_info {
            display: flex;
            .site_icon{
                height: 1.7rem;
                width: 1.7rem;
                padding-top: 1rem;
            }
            .site_name{
                padding-left: 1rem;
                font-size: 1.2rem;

            }
        }
    }

}