.course-content {
    // width: 100%;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    // //display: grid;
    //grid-template-columns: 1fr 1fr 1fr ;
    //gap: 50px;
    //background-color: green;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //display: grid;
    //grid-template-columns: 1fr 1fr 1fr ;
    // background-color: blue;
  }
  