.lunch-sets {
    .lunchsets-content{
        width: 40%;
        position: absolute;
        margin-left: 13rem;
      // left: 90px;
    //  left: 30rem;
        padding: 40px;
        background: rgb(255, 255, 255);
        display: block;
       transform: translate3d(0px, 20.6391px, 0px);
        clear: right;
        z-index: 2;
        float: right;
        box-sizing: border-box;
        margin-top: 18rem;
      //  background-color: aquamarine;
        h1{
            text-decoration: underline 1px solid #222;
           font-weight: normal;
            color: #000000;
            font-size: 3.5rem;

        }
        .lunchsets_1{
            .na-pi{
                color: #000000;
                text-align: left;
               // background-color: lightcoral;
                display: grid;
               grid-template-columns: 1fr 1fr;
              h2{

              }
              span{
                  margin-left: 30rem;
                  margin-top: 1.5rem;
                  font-size: 1.7rem;
                  font-weight: 600;
              }

            }
            .ingr-button{
                display: grid;
                grid-template-columns: 1fr 1fr;
             //   background-color: yellowgreen;
                height: 3rem;
                span{
                    color: #424242;
                    font-size: 1.4rem;
                  //  font-size: 13px;
                }
                .order{
                    background-color: #cfa670;
                    padding: 0rem;
                    width: 6rem;
                    font-size: 1.3rem;
                    color: white;
                    border: none;
                    margin-left: -10rem;
                    margin-top: 0.5rem;
                   
                button{
                  
                    
                }
            }
                .star{
                    background-color: #cfa670;
                    padding: 0rem;
                    width: 3rem;
                    height: 2.1rem;
                    font-size: 1.3rem;
                    color: white;
                    border: none;
                    margin-left: 65rem;
                    margin-top: -2rem;
                button{
               
                }
              }
            }
        }
        .lunchsets_2{
            .na-pi{
                color: #000000;
                text-align: left;
              //  background-color: lightcoral;
                display: grid;
               grid-template-columns: 1fr 1fr;
               h2{

            }
            span{
                margin-left: 30rem;
                margin-top: 1.5rem;
                font-size: 1.7rem;
                font-weight: 600;
            }
            }
            .ingr-button{
                display: grid;
                grid-template-columns: 1fr 1fr;
               // background-color: yellowgreen;
                height: 3rem;
                span{
                    color: #424242;
                    font-size: 1.4rem;
                }
            }
        }
        .lunchsets_3{
            .na-pi{
                color: #000000;
                text-align: left;
               // background-color: lightcoral;
                display: grid;
               grid-template-columns: 1fr 1fr;
               h2{

            }
            span{
                margin-left: 30rem;
                margin-top: 1.5rem;
                font-size: 1.7rem;
                font-weight: 600;
            }
            }
            .ingr-button{
                display: grid;
                grid-template-columns: 1fr 1fr;
               // background-color: yellowgreen;
                height: 3rem;
                span{
                    color: #424242;
                    font-size: 1.4rem;
                }
                button{
                    background-color: #cfa670;
                    padding: 0rem;
                    width: 3rem;
                    height: 2.1rem;
                    font-size: 1.3rem;
                    color: white;
                    border: none;
                    margin-left: 30rem; 
                }
            }
        }
        .lunchsets_4{
            .na-pi{
                color: #000000;
                text-align: left;
               // background-color: lightcoral;
                display: grid;
               grid-template-columns: 1fr 1fr;
               h2{

            }
            span{
                margin-left: 30rem;
                margin-top: 1.5rem;
                font-size: 1.7rem;
                font-weight: 600;
            }
            }
            .ingr-button{
                display: grid;
                grid-template-columns: 1fr 1fr;
            //    background-color: yellowgreen;
                height: 3rem;
                span{
                    color: #424242;
                    font-size: 1.4rem;
                }
            }
        }
        .lunchsets_5{
            .na-pi{
                color: #000000;
                text-align: left;
               //background-color: lightcoral;
                display: grid;
               grid-template-columns: 1fr 1fr;
               h2{

            }
            span{
                margin-left: 30rem;
                margin-top: 1.5rem;
                font-size: 1.7rem;
                font-weight: 600;
            }
            }
            .ingr-button{
                display: grid;
                grid-template-columns: 1fr 1fr;
            //    background-color: yellowgreen;
                height: 3rem;
                span{
                    color: #424242;
                    font-size: 1.4rem;
                }
                button{
                    background-color: #cfa670;
                    padding: 0rem;
                    width: 3rem;
                    height: 2.1rem;
                    font-size: 1.3rem;
                    color: white;
                    border: none;
                    margin-left: 30rem; 

                }
            }
        }
    }
    img{
        margin-left: 80rem;
        width: 90rem;
        margin-top: 15rem;
      //  height: ;

    }
}