.homepage{
    width: 100%;
    
   .backgroundimg{
      //height: 70rem;
      img{
         width: 100%;
         height: 50rem;
         filter: brightness(80%);
         // position: absolute;
        // transition: 0.3s ease-in-out;

      }
   }
   .contentofwelcome{
    position: absolute;
    top: 5rem;
    display: flex;
    flex-direction: column;
    padding-left: 7rem ;
    padding-top: 7rem;
    display: flex;
    text-align: start;
    line-height:0rem;
    color: white;

    h2{
       color: #cfa670;;
       font-family: 'Dancing Script', cursive;
       font-size: 5rem;
    }
    h1{
       font-size: 4rem;
    }
    p{
       font-size: 2rem;
       letter-spacing: 0.2rem;
    }
   }

   .aboutus{
      text-align: center;
      h2{
         color: #cfa670;;
         font-family: 'Dancing Script', cursive;
         font-size: 3rem;
         line-height: 2rem;
         
      }
      h1{
         line-height: 2rem;
         font-family: 'Montserrat',sans-serif;
         font-weight: normal;
         font-size: 4rem;
      }
      p{
         line-height: 1rem;
         font-size: 2rem;
      }
      h3{
         font-family: 'Pacifico', cursive;
         font-weight: bold ;
         font-size: 4rem;
         color: darkslategray;
      }

   }

   .maincoursetitle {
      h1{
        justify-content: center;
        align-items: center;
        //background-color: yellow;
        padding-left: 85rem;
        font-size: 3rem;
        text-decoration: underline;
      }
   }
    
   
    }
    


